
/* Search field design */


.search__container{
 width: 100%;
 max-width: 570px;
 border-radius: 6px;
 margin: 30px auto 50px;
 position: relative;
 align-items: stretch;
 display: flex;
 overflow: hidden;

}

.search__container::before{
   content: "";
   position:absolute;
   top: calc(50% - 10px);
   left: 15px; 
   width: 18px;
   height: 20px;
   background: url("https://i.ibb.co/VjZJTkM/search.png ") no-repeat center center / contain;
   



}


.search__input{
  background-color: bisque;
  border: none;
  outline: none;
  padding: 20px 20px 20px 50px;
  width: calc(100% - 100px);

}

.search__button{
  background-color:#ff4b2b;
  border:0;
  outline: 0;
  color: #fff;
  width: 150px;
  padding: 15px 20px;
}

/* Button Design */

.button__style{
  border:0;
  border-radius: 10px;
  background-color:crimson;
  padding: 10px 30px;
  font-weight: 500;

}

/* sidebar design */

#sidebar__style{
  min-width: 250px;
  max-width: 250px;
  /* max-height: 100vh; */
  background-color: cornflowerblue;
  color: #fff;
}

#sidebar__style ul {
 padding-top: 15px;
}

#sidebar__style ul li{
  /* padding: 5px;
  padding-left: 15px; */
  font-size: 25px;
  /* text-align: center; */
}

#sidebar__style ul.list li a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

#sidebar__style ul.list li a:hover{
  color: #ff4b2b;
  background-color: blanchedalmond;
  display: block;
}

.sidebar__header  {
  background-color: blueviolet;
  padding: 5px;
  text-align: center;
}

.sidebar__header h2{
  text-align: center;
}

/* CTA=Call to Action */
/* 
.CTAs  {
   text-align: center;
} */

ul.CTAs {
  padding: 20px;
} 


 ul.CTAs a {
  padding: 7px 10px; 
  text-align: center;
  display: block;
  border-radius: 5px;
} 

.sidebar__home{
  color: #ff4b2b;
  background-color: blanchedalmond;
  text-decoration: none;
}
#sidebar__style ul.CTAs a:hover{
  color: #ff4b2b;
}

/* Admin  */
.wrapper{
  display: flex;
  width: 100%;
  background-color: rgb(169, 231, 231); 
}

/* admin navbar */
.admin_navbar_content{
  min-height: 100vh;
  width: 100%;
  padding: 20px;

}