
/* Search field design */


.search__container{
 width: 100%;
 max-width: 570px;
 border-radius: 6px;
 margin: 30px auto 50px;
 position: relative;
 align-items: stretch;
 display: flex;
 overflow: hidden;

}

.search__container::before{
   content: "";
   position:absolute;
   top: calc(50% - 10px);
   left: 15px; 
   width: 18px;
   height: 20px;
   background: url("https://i.ibb.co/VjZJTkM/search.png ") no-repeat center center / contain;
   



}


.search__input{
  background-color: bisque;
  border: none;
  outline: none;
  padding: 20px 20px 20px 50px;
  width: calc(100% - 100px);

}

.search__button{
  background-color:#ff4b2b;
  border:0;
  outline: 0;
  color: #fff;
  width: 150px;
  padding: 15px 20px;
}